<html>
<head>
<title>Form</title>
<style>

body {
  background-image: url('https://i.pinimg.com/originals/1e/a4/d2/1ea4d25547f281058f04c327fb5869cb.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
</style>
</head>
<body >
<h1 style="color:white" align="center"  >ASSIGNMENT 1</h1><br>
<h2 align="left" style="color:white"> Enter the following details</h2>
<form  name="myform" onsubmit="return validateform()" method="post" style="color:white" align="center">

<p1 style="font-size:25px";>Name</p1>:&nbsp &nbsp<input style="font-size:19px" type="text" name="name1"  size="20" placeholder="Enter Name" ><br><br>
<p1 style="font-size:25px";>Email</p1>:&nbsp&nbsp<input style="font-size:19px" type="text" name="email" placeholder="Enter the email id"> <br><br>
<p1 style="font-size:25px";>Mobile</p1>:&nbsp&nbsp&nbsp<input style="font-size:19px" type="text" name="mobile" size="19" placeholder="enter the mobile number">  <br><br>
<p1 style="font-size:25px";>City</p1>:&nbsp&nbsp<input style="font-size:19px" type="text" name="city" placeholder="Enter the city name"> <br><br>
<p1 style="font-size:25px";>State</p1>:&nbsp&nbsp<input style="font-size:19px" type="text" name="state" placeholder="Enter the state name"> <br><br>
<p1 style="font-size:25px";>country</p1>:&nbsp&nbsp<input style="font-size:19px" type="text" name="country" placeholder="Enter the country name"> <br><br>

<input style="font-size:19px" type="submit"  onclick="submitForm()" value="Submit">

</form>
</body>

